<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>834520685940-c4vmqvbhlnmo3hroc81vtncnq5ukcsbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834520685940-c4vmqvbhlnmo3hroc81vtncnq5ukcsbo</string>
	<key>API_KEY</key>
	<string>AIzaSyBz5XkMAu4CMo787tQTI7WC0R9JksqFc8o</string>
	<key>GCM_SENDER_ID</key>
	<string>834520685940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Endent.Trang</string>
	<key>PROJECT_ID</key>
	<string>tran-1f1a1</string>
	<key>STORAGE_BUCKET</key>
	<string>tran-1f1a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:834520685940:ios:4b68f3274600956d</string>
	<key>DATABASE_URL</key>
	<string>https://tran-1f1a1.firebaseio.com</string>
</dict>
</plist>